name: Lint Charts

on:
  pull_request:
    branches:
      - master
      - main

permissions:
  contents: read

jobs:
  # Generate the values for images with changes
  check-changed:
    runs-on: ubuntu-latest
    # Map a step output to a job output
    outputs:
      changed: ${{ steps.list-changed.outputs.changed }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (list-changed)
        id: list-changed
        env:
          CT_TARGET_BRANCH: main
          CT_REMOTE: origin
        run: |
          changed="$(ct list-changed)"
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

  lint:
    runs-on: ubuntu-latest
    needs: check-changed
    # only run if charts changed
    if: needs.check-changed.outputs.changed == 'true'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - name: Set up helm dep repositories
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami

      - uses: actions/setup-python@v2
        with:
          python-version: 3.7.17

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.0.1

      - name: Run chart-testing (lint)
        env:
          CT_TARGET_BRANCH: main
          CT_REMOTE: origin
        run: ct lint
